.wrapper{
  width: 99%;
  height: 10%;
  background-color: rgb(32, 63, 63);
  border: 1px dotted purple;
}
.wrapper input[type=text] {
  float: left;
  padding: 6px;
  width: 80%;
  height: 15%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
}

